# 판다스 데이터 구조

## 시리즈
시리즈 구조 확인

시리즈를 모으면 데이터프레임이 된다

M으로 제목 만들고 Y로 실행창으로 만들기

1차원 레이블(테이블)이 지정된 배열
+ 배열 == list(리스트)

변수명(속성, 퓨쳐, 컬럼명) 하나에 대한 데이터들
열 레이블을 총칭

In [2]:
#라이브러리 읽어들이기
import pandas as pd

In [7]:
# 이러한 형태를 '시리즈' 
# 인덱스 번호와 데이터 값으로 구성됨
# 인덱스 번호 지정
# 인덱스 번호를 지정을 하지 않으면 기본적으로 0부터 시작해서 올라감
sd1 = pd.Series(['Doc', 'Cat', 'Tiger', 'Lion', 'Monkey'],
               index = ['00', '11', '22', '33', '44'])

sd1

00       Doc
11       Cat
22     Tiger
33      Lion
44    Monkey
dtype: object

### 딕셔너리 -> 시리즈
리스트[]

딕셔너리{}

튜플()

In [11]:
# 딕셔너리 데이터 만들기
dic_data = {'a' : 1, 'b' : 2, 'c' : 3}

dic_data

{'a': 1, 'b': 2, 'c': 3}

In [15]:
# 딕셔너리 -> 시리즈
# 시리즈로 변환하는 경우 딕셔러니의 key는 인덱스, value는 데이터 값으로
# dtype = 열에 따른 데이터 타입이 무엇인지 확인 
sd2 = pd.Series(dic_data)

sd2

a    1
b    2
c    3
dtype: int64

In [17]:
# 시리즈로 변환이 되었는지 확인하기 위해서 type() 사용
# type()는 데이터 전체 열의 타입(형태)이 무엇인지 확인
type(sd2)

pandas.core.series.Series

### 리스트 -> 시리즈

In [18]:
# 리스트 데이터 만들기
list_data = ['Dog', 'Cat', 'Tiger']

list_data

['Dog', 'Cat', 'Tiger']

In [19]:
# 리스트 -> 시리즈
sd3 = pd.Series(list_data)

sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [22]:
# 타입 확인
type(sd3)

pandas.core.series.Series

### 튜플 -> 시리즈

In [23]:
# '이순신', '1991-03-15', '남자'
# 위의 데이터를 튜플로 만들기
tuple_data = ('이순신', '1991-03-15', '남자')

tuple_data

('이순신', '1991-03-15', '남자')

In [31]:
# 튜플 -> 시리즈
# 변수 활용해서 index값 변환하기
col_name = ['이름', '생년월일', '성별'] 

sd4 = pd.Series(tuple_data,
               index = col_name)

sd4

이름             이순신
생년월일    1991-03-15
성별              남자
dtype: object

In [32]:
# 타입 확인
type(sd4)

pandas.core.series.Series

## 데이터프레임
행과 열 자료구조.

서로 다른 종류의 값(숫자, 문자열, 블리언 등)을 가질 수 있습니다.
+ 블리언 = TRUE or FALSE

시리즈가 복수 개 합쳐진 것.

가장 많이 보게 되는 자료구조.

데이터프레임부터는 생성보다 이미 자체적으로 만들어지는 함수가 존재..

------------------------------------------
변수 = 열 = 컬럼 = 피처 = 특징

관측치 = 행 = 로우 = 데이터

값 = 특정 변수 하나를 의미함

------------------------------------------
행과 열의 크기

행의 증가 = 막대한 컴퓨팅 파워의 증가 / 열의 감소 = 분석시 다양한 조합이 불가능

### 딕셔너리 -> 데이터프레임

In [47]:
# 동물 : 'Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'
# 나이 : 7, 9, 2, 3, 1
# 위레 동물과 나이 데이터를 하나의 딕셔러니로 만들기
dic_data = {'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
          '나이' : [7, 9, 2, 3, 1]}

dic_data

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [55]:
# 데이터프레임으로 만들기
df_1 = pd.DataFrame(dic_data)

df_1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [56]:
type(df_1)

pandas.core.frame.DataFrame

### 리스트 -> 데이터프레임

In [57]:
# 리스트 만들기
# 5행 2열
# 2열 5행
list_data = [['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [64]:
# 리스트 -> 데이터프레임
df_2 = pd.DataFrame(list_data,
                   columns = ['동물', '나이'])

df_2

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [66]:
# 타입 확인
print(type(df_2))

# 데이터 타입 확인
print(df_2.dtypes)

<class 'pandas.core.frame.DataFrame'>
동물    object
나이     int64
dtype: object

## 비어 있는 데이터프레임 만들기

In [67]:
# 행과 열에 데이터가 아무것도 없는 = 비어 있는 데이터프레임 만들기
df_null = pd.DataFrame()

df_null

Empty DataFrame
Columns: []
Index: []

In [69]:
# 타입 확인
type(df_null)

pandas.core.frame.DataFrame

In [70]:
# 컬럼(변수) 만들기
df_null ['동물'] = 'Dog'

df_null

Empty DataFrame
Columns: [동물]
Index: []

# 데이터 전처리
데이터를 가공하는 과정을 데이터 전처리와 데이터 조작이라고 한다.

데이터의 결측치나 이상치를 찾고 가공 및 정제하고 원하는 데이터를 추출함.

가장 많은 시간을 소요하는 과정.